@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/variables';

@mixin nav-link {
  color: $white !important;
  display: inline-block;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1rem;
  text-decoration: none;
}

@mixin container {
  display: inline-block;
  margin: 4px 15px;
}

.navbar {
  border-bottom: 4px solid $primary;

  &__logo {
    height: 25px;
    width: auto;

    @include respond-to('small') {
      height: 30px;
    }

    @include respond-to('large') {
      height: 35px;
    }
  }

  &__toggle {
    border: none;
  }

  &__link_container {
    @include container;

    .navbar__link {
      @include nav-link;

      &:link,
      &:visited {
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.6s;
      }
      &:hover {
        border-bottom: 2px solid $accent;
      }
    }
  }

  &__resume_container {
    @include container;

    .resume__link {
      @include nav-link;

      &:link,
      &:visited {
        border: 2px solid $primary;
        background-color: $primary;
        transition: all 0.4s;
      }

      &:hover,
      &:active {
        background-color: $secondary;
      }
    }
  }
}

.Navbar {
  border-bottom: 4px solid var(--main-blue-color);
}

.Logo {
  height: 35px;
  width: auto;
}

.Toggle {
  border: none;
}

.LinkContainer,
.ResumeContainer {
  display: inline-block;
  margin: 4px 15px;
}

.Link:link,
.Link:visited,
.ResumeLink:link,
.ResumeLink:visited {
  color: #ffffff !important;
  display: inline-block;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1rem;
  text-decoration: none;
}

.Link:link,
.Link:visited {
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.6s;
}

.Link:hover,
.Link:active {
  border-bottom: 2px solid var(--main-red-color);
}

.ResumeLink:link,
.ResumeLink:visited {
  border: 2px solid var(--main-blue-color);
  background-color: var(--main-blue-color);
  transition: all 0.4s;
}

.ResumeLink:hover,
.ResumeLink:active {
  background-color: var(--shade-blue-color);
}

/* Small devices */
@media (max-width: 575px) {
  .Logo {
    height: 25px;
    width: auto;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .Logo {
    height: 30px;
    width: auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .Logo {
    height: 30px;
    width: auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
}
