.Header {
  background-image: linear-gradient(
      180deg,
      rgba(20, 20, 20, 0.9),
      rgba(20, 20, 20, 0.9)
    ),
    url('../../../assets/header-bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.HeaderTextBox {
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.HeaderTextBox h1 {
  color: #fff;
  font-size: 300%;
  letter-spacing: 2px;
  margin: 0;
}

.Name {
  color: var(--main-red-color);
  font-weight: 400;
}

.Occupation {
  font-size: 0.8em;
}
