.ExperienceItem {
  border: 1px solid #eee;
  padding: 1.5rem;
  margin-top: 2rem;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header p {
  text-align: right;
  margin-bottom: 0;
}

.Header a {
  display: inline-block;
}

.Header p:first-child {
  font-weight: 700;
}

.Header p:last-child {
  font-size: 0.7rem;
  font-style: italic;
}

.Header hr {
  margin-top: 2px;
}

.Details {
  padding: 0 1rem;
}

.Stack em {
  font-weight: 700;
}

.experience-header {
  flex-direction: column;
}

.experience-header p {
  text-align: center;
}

/* Small devices */
@media (max-width: 575px) {
  .Header {
    flex-direction: column;
  }

  .Header p {
    text-align: center;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
}
