.Author figure img {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: block;
  height: auto;
  margin: 0 auto 20px auto;
  text-align: center;
  max-width: 200px;
}

.Author figure figcaption {
  padding: 0 10px;
}

.Author figure figcaption h3 {
  font-weight: 400;
  margin-bottom: 10px;
}

.Author figure figcaption p {
  font-size: 0.95rem;
  line-height: 150%;
  margin: 0 auto;
  text-align: justify;
  width: 95%;
}

/* Small devices */
@media (max-width: 575px) {
  .Author figure {
    margin-bottom: 2rem;
  }

  .Author figure img {
    margin-bottom: 10px;
    max-width: 150px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .Author figure {
    margin-bottom: 3rem;
  }

  .Author figure img {
    margin-bottom: 10px;
    max-width: 200px;
  }

  .Author figure figcaption p {
    width: 90%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
}
