@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&family=Raleway:wght@300;400&display=swap');

@import 'mixins';

html {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  letter-spacing: 2px;

  @include respond-to('small') {
    font-size: 12px;
  }

  @include respond-to('medium') {
    font-size: 14px;
  }

  @include respond-to('large') {
    font-size: 15px;
  }

  @include respond-to('x-large') {
    font-size: 16px;
  }
}

h1,
h2,
h3 {
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
}

a,
li,
p,
div {
  color: $font-dark;
  font-family: 'Raleway', sans-serif;
}
